<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DatabaseName" value="chorus" />
    <add key="CollectionName" value="sql-objects" />
    <add key="ShouldCleanupOnStart" value="true" />
    <add key="ShouldCleanupOnFinish" value="false" />
    <add key="CollectionPartitionKey" value="pk" />
    <add key="nodeDataPath" value="C:\dev\GraphBulkImporter\DataGraph.xml"/>
    <add key="neo4jUri" value="http://localhost:7474/db/data/"/>
    <add key="dbUser" value="neo4j"/>
    <add key="dbPassword" value="ch0ru$Pa55w0rd"/>
  </appSettings>
</configuration>